* {
    margin: 0;
    padding: 0;
}

.nav-div {
    background-color: #58bf74;
    height: 65px;
}

.nav-div a {
    text-decoration: none;
}

a:visited {
    color: black;
}

#home-link {
    padding-top: 5px;
    font-size: 35px;
    color: black;
    margin-left: 30px;
} 

ul {
    display: flex;
    list-style-type: none;
     margin: 0;
    padding: 0;
}

#button-new-player{
    width: 100px;
    margin-top: 12px;
    margin-left: 15px;
    font-size: 19px;
}

.table-div{
    width: 900px;
    margin-top: 30px;
    margin-left: 530px;
}

#top-scorers{
    margin-left: 530px;
    margin-top: 10px;
    font-size: 30px;
}

#i-search{
    width: 400px;
    margin-left: 800px;
    margin-top: 30px;
}

.form {
    font-size: 25px;
    margin-bottom: 10px;
    width: 800px;
    margin-left: 30px;
}

#button-save-player{
    width: 250px;
    margin-top: 20px;
    margin-left: 280px;
    font-size: 20px;
}